*{
    box-sizing: border-box;
}

a{
    text-decoration-line: underline;
    font-size: 1em;
    color: #602d83;
}

#aImitation{
    text-decoration-line: underline;
    color: #602d83;
    font-size: 1em;
}

nav{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
   
    margin-bottom: 40px;
}